<div class="ion-page" id="main-content">
  <app-header
    titulo="Crear Categoria Producto"
    icono="bag-add-outline"
    [print]="false"
    [MenusExtras]= menuTS>
  </app-header>
  <ion-content class="ion-padding" *ngIf="BanderaSeguridad">

    <form  name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
    <div class="input-group mt-3 form-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Nombre</span>
      </div>
      <input type="text" class="form-control" placeholder="Nombre" name="nombre" [(ngModel)]="form.Nombre" required
      #nombre="ngModel" />
      <div class="input-group-prepend">
        <button class="btn btn-primary btn-block">
          Crear
        </button>
      </div>

    </div>
    <div class="alert alert-danger" role="alert" *ngIf="f.submitted && nombre.invalid">
      Nombre Requerido!
    </div>
      <div class="form-group">
        <div class="alert alert-danger" role="alert" *ngIf="f.submitted && formFailed">
          Fallo la creación de la categoria: {{ errorMessage }}
        </div>
      </div>
    </form>
    <div
          *ngIf="mensaje"
          class="alert {{successful ? 'alert-success' : 'alert-danger'}}"
        >{{mensaje}}</div>
  </ion-content>
  <ion-content class="ion-padding" *ngIf="!BanderaSeguridad">
    <div class="p-3 mb-2 bg-danger text-white">{{content}}</div>
  </ion-content>

</div>
